{% extends 'base.html' %}{% load compress i18n %}

{% block title %}{{ mindmap.name }}{% endblock %}

{% include 'mindmap/includes/navbar_sub_left.html' %}

{% block navbar_sub_right_middle %}
    <a class="btn btn-small btn-info" data-toggle="modal" href="#mindmap-export">
        <i class="icon-hdd icon-white"></i> {% trans 'Export' %}
    </a>
{% endblock %}

{% block content %}
{% include 'mindmap/includes/map.html' %}
{% include 'mindmap/includes/export_modal.html' %}
{% endblock %}

{% block app_js %}
{% compress js %}
<script src="{{ STATIC_URL }}mindmap/js/lib/jquery.jsPlumb-1.3.8-all.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/lib/jquery.collisioncheck-1.1.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/lib/jquery.scrollTo-1.4.2.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/lib/jquery.color.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/lib/sockjs-0.3.1.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/mindmap.map.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/mindmap.sockjs.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/mindmap.map.component.js" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
{% endblock %}

{% block app_css %}
{% compress css %}
<link href="{{ STATIC_URL }}mindmap/css/mindmap.map.css" rel="stylesheet">
{% endcompress %}
{% endblock %}