{% extends 'base.html' %}{% load compress i18n %}

{% block title %}{{ mindmap.name }}{% endblock %}

{% block navbar_sub %}
        <li class="divider-vertical"></li>
        <li class="navbar-label-container">
            <span class='label label-success' title="{% trans 'Number of participants' %}">
                <i class='icon-user icon-white'></i> <span id="mindmap-map-participants-count">0</span>
            </span>
        </li>
{% endblock %}

{% block content %}
<div id="mindmap-map" data-components-url="{% url mindmap_map_components mindmap.pk %}" data-map-pk="{{ mindmap.pk }}" tabindex="0">
    <div class="component" id="component-tpl">
        <input class="input-small component-title">
    </div>
</div>
{% endblock %}

{% block app_js %}
{% compress js %}
<script src="{{ STATIC_URL }}mindmap/js/lib/jquery.jsPlumb-1.3.8-all.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/lib/jquery.collisioncheck-1.1.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/lib/jquery.scrollTo-1.4.2.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/lib/jquery.color.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/mindmap.map.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/mindmap.sockjs.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}mindmap/js/mindmap.map.component.js" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
{% endblock %}

{% block app_css %}
{% compress css %}
<link href="{{ STATIC_URL }}mindmap/css/mindmap.map.css" rel="stylesheet">
{% endcompress %}
{% endblock %}