#mindmap-map .component {
    opacity: 0.8;
    filter: alpha(opacity = 80);
    background-color: white;
    color: black;
    font-size: 0.3em;
    font-family: helvetica;

    padding-left: .5em;
    padding-top: 1.5em;
    padding-bottom: 5em;
    padding-right: .5em;

    -moz-border-radius: 3em 3em 3em 3em;
    border-radius: 3em 3em 3em 3em;

    -moz-box-shadow: 0px 0px 0px 3px #ccc;
    -webkit-box-shadow: 0px 0px 0px 3px #ccc;
    box-shadow: 0.7em 0.7em 0.7em 0.7em #ccc;

    border: 2px solid #8f8f8f;
    width: 100px;
    height: 2px;
    z-index: 20;
    position: absolute;
    cursor: move;
}

#mindmap-map .component-selected {
    border-color: #4183c4;
}

#mindmap-map .component-root {
    border-width: 3px;
    color: #4183c4;s
}

#mindmap-map .component .component-title {
    font-size: 12px;
    font-family: inherit;
    line-height: 18px;
    font-weight: bolder;
    margin: 0;
    color: #000000;
    text-rendering: optimizelegibility;
    text-align: center;
    border: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}
