#mindmap-map .component {
    opacity: 0.8;
    filter: alpha(opacity = 80);
    background-color: white;
    color: black;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;

    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;

    border: 2px solid #8f8f8f;
    width: 110px;
    height: 30px;
    z-index: 20;
    position: absolute;
    cursor: move;
    text-align: center;
    padding-top: 3px;
}

#mindmap-map .component-selected {
    border-color: #4183c4;
}

#mindmap-map .component-root {
    border-width: 3px;
}

#mindmap-map .component .component-title {
    font-size: 12px;
    width: 80px;
    border: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
