#mindmap-map .component {
    opacity: 0.8;
    filter: alpha(opacity = 80);
    background-color: white;
    color: black;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 12px 12px 12px 12px;

    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;

    border: 3px solid #8f8f8f;
    width: 110px;
    height: 30px;
    z-index: 20;
    position: absolute;
    cursor: move;
    text-align: center;
    padding-top: 4px;
}

#mindmap-map .component:hover {
    border-color: #FF3300;
}

#mindmap-map .component-selected {
    border-color: #4183c4;
}

#mindmap-map .component-root {
    border-width: 4px;
}

#mindmap-map .component .component-title {
    font-size: 12px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#mindmap-map .component input.component-title {
    border: 0;
}

#mindmap-map .component input.component-title:focus {
    border: 0; /* first step with background color for editing */
    background-color: #cccccc;
    color: #000000; /* darker text while editing*/
}

#navbar .ws-status {
    display: none;
}