{% load compress %}
{% compress js inline %}
<script type="text/javascript">
    var bm_globals = {
        static_url: '{{ STATIC_URL }}',
        media_url: '{{ MEDIA_URL }}',

        mindmap: {
            map_component_update_pos_url: '{% url mindmap_map_component_update_pos '#1#' '#2#' %}',
            map_components_add_offset: '{% url mindmap_map_components_add_offset '#1#' %}'
        },

        mindmaptornado: {
            server:'{{MINDMAPTORNADO_SERVER}}'
        }
    }
</script>
{% endcompress %}