{% extends 'base.html' %}{% load compress i18n %}

{% block title %}Hello{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1 class="brand">{% include 'includes/brand.html' %}</h1>
    <p>
        <span class="simple-tooltip" title="Bullshit!!11eleven" data-placement='right'>Real-time web-based collaborative open source mind mapping.</span>
    </p>
</div>

<div class="row">
    <div class="span4">
        <h2>Screencast</h2>

        <p>Watch a screencast about the most commonly used {% include 'includes/brand.html' %} features!</p>

        <p><a class="btn btn-success" href="#">Watch &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Technique behind</h2>

        <p>Watch a screencast about the most commonly used {% include 'includes/brand.html' %} features!</p>

        <p><a class="btn btn-success" href="#">Watch &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Contact</h2>

        <p>Watch a screencast about the most commonly used {% include 'includes/brand.html' %} features!</p>

        <p><a class="btn btn-success" href="#">Watch &raquo;</a></p>
    </div>
</div>

<hr>

<footer>
    <p class="pull-left">&copy; Bernhard Janetzki 2012</p>
    <p class="pull-right">Server sponsored by <a href="http://version-2.net/" target="_blank">Version-2.net</a></p>
</footer>

{% endblock %}
